* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 84vh;
    background-color: #B3E5FC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather_container {
    color: #212121;
}

.temperature {
    font-size: 5rem;
    margin-bottom: 5px;
}

.time_location {
    font-size: 1.5rem;
    line-height: 120%;
}

.condition {
    margin: 0.5rem;
}

nav {
    height: 90px;
    background-color: #FFFFFF;
}

form {
    margin-top: 15px;
    margin-left: 38%;
}

.search_area {
    padding: 1rem;
    outline: none;
    border: none;
    color: #546E7A;
    background-color: transparent;
    font-size: 1.2rem;
    border-bottom: 2px solid #FFB74D;
}

nav form button {
    background-color: #0288D1;
    color: #B0BEC5;
    font-size: 1.2rem;
    padding: 1rem;
    margin-left: 15px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

nav form button:hover {
    opacity: 0.8;
}